<ul class="page-breadcrumb breadcrumb">
    <li>
        <a ui-sref="home">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Logout</li>

</ul>
<div class="row text-center" ng-show="requesting">
    <div class="col-md-12">
        <div class="loading-message">
            <div class="block-spinner-bar">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="note note-danger">
            <p> Logging you out...</p>
        </div>
    </div>
</div>