/* here you can put your own css to customize and override the theme */
@import '../../global/_variables'; // global metronic framework variables
@import '../../global/components/_mixins'; // global metronic framework mixings
@import '../../global/components/_portlets'; // global metronic framework mixings

.icon-agave:before {
  margin-left: -4px;
}


/***
User dropdown and primary navigation
***/
.page-header {
  /* Page Header Top */
  .page-header-top {

    .page-logo .logo {
      width: 206px;
    }

    /* Top menu */
    .top-menu {

      .navbar-nav {

        /* Top Links */
        > li.dropdown {

          /* Notification */
          > li.dropdown-status {
            .dropdown-menu {
              .dropdown-menu-list {
                > li {
                  a {
                    .details {
                      overflow: hidden;

                      .label-icon {
                        margin-right: 10px;
                        @include border-radius(50%);

                        i {
                          margin-right: 2px;
                          margin-left: 1px;
                        }

                        .badge {
                          right: 15px;
                        }
                      }
                    }

                    .uptime {
                      float: right;
                      max-width: 75px;

                      font-size: 11px;
                      font-weight: 400;
                      @include opacity(0.7);

                      text-align: right;
                      padding: 1px 5px;
                    }
                  }
                }
              }
            }
          }
          .dropdown-user {
            .dropdown-menu {

            }
          }
        }
      }
    }
  }
  .tenant-badge {
    a {
      overflow: hidden;

      .logo {
        img {
          margin-right: 5px;
          width: 40px;
        }
      }
      .details {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}


/***
Login page
***/
/* bg color */
.login {
  background-color: #364150;

  .logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
  }

  .content {
    background-color: #eceef1;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 400px;
    margin: 10px auto 10px auto;
    padding: 30px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;

    h3 {
      color: #4db3a5;
      text-align: center;
      font-size: 28px;
      font-weight: 400 !important;
    }

    h4 {
      color: #555;
    }

    .hint {
      color: #999;
      padding: 0;
      margin: 15px 0 7px 0;
    }
    .login-form, .forget-form {
      padding: 0px;
      margin: 0px;
    }

    .form-control {
      border: none;
      background-color: #dde3ec;
      height: 43px;
      color: #8290a3;
      border: 1px solid #dde3ec;
      padding-left: 9px;
      padding-right: 9px;
    }

    .form-control:focus, .form-control:active {
      border: 1px solid #c3ccda;
    }
    .form-control::-moz-placeholder {
      color: #8290a3;
      opacity: 1;
    }
    .form-control:-ms-input-placeholder {
      color: #8290a3;
    }
    .form-control::-webkit-input-placeholder {
      color: #8290a3;
    }

    .forget-form, .register-form {
      display: none;
    }

    .oauth img {
      width: 100%;
    }
    .form-actions {
      clear: both;
      border: 0px;
      border-bottom: 1px solid #eee;
      padding: 25px 30px 25px 30px;
      margin-left: -30px;
      margin-right: -30px;
    }

    .form-title {
      font-weight: 300;
      margin-bottom: 25px;
    }

  }

}

.mt-element-overlay .mt-overlay-6  {
  background-color: transparent;
  height: 200px;

  .mt-overlay {
    background-color: rgba(0, 0, 0, .7);
  }
}

/* FAQ page */
.faq-content-1 .faq-section>.faq-content {

  .panel-body {
    margin-left: 0;
  }

  .panel-heading {
    padding: 10px 0;

    .accordion-toggle {
      padding: 0 0 10px 0;
    }
  }
}

/* Login badge(s) search */
@media (max-width: 440px) {
  /***
  Login page
  ***/
  .login {

    .logo {
      margin-top: 10px;
    }
    .content {
      width: 280px;
      margin-top: 10px;
    }
    .content h3 {
      font-size: 22px;
    }

    .login-options {
      .tenant-icons {

        float: left;
        padding-top: 3px;
      }
    }
    .checkbox {
      font-size: 13px;
    }

    .forget-password {
      display: inline-block;
      margin-top: 20px;
    }
  }
}

/* Directory search */
.search-content-3 {
  .search-body {
    .search-results {
      min-height: 380px;
    }
  }
  .tile-container > .tile-title {
    padding: 30px 0;

    h3 {
      height: 41px;
    }
  }
}

/***
Data browser
***/
.filebrowser {
  .browser-container {
    @extend .portlet;
    @extend .light;
    .browser-title {
      @extend .portlet-title;
    }
    .browser-body {
      @extend .portlet-body;
      padding-left: 15px;
      padding-right: 15px;

      ol.breadcrumb {
        li {
          padding-right: 10px;
        }
      }
    }
  }
}

/***
Jobs tabs
***/
.portlet.light > .portlet-title {
  padding: 0;
  min-height: 42px;
}


.checkbox, .form-horizontal .checkbox {
  margin-left: 20px;
  margin-bottom: 15px;
}